<template name="equipe">
  <section class="team-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h3>Nosso time</h3>
                      <p>Grupo 3 da Disciplina de Desenho de Software 1/2017 UnB FGA</p>
                      <br />
                  </div>
              </div>
              <div class="row">

                  <div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-6">
                      <!-- Team Member -->
                      <div class="team-member">
                          <!-- Image Hover Block -->
                          <div class="member-img">
                              <!-- Image  -->
                              <img class="img-responsive" src="/img/anderson.jpg" alt="">
                          </div>
                          <!-- Member Details -->
                          <h4>Anderson Silva</h4>
                          <!-- Designation -->
                          <span class="pos">Gestor/Desenvolvedor</span>
                          <div class="team-socials">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-dribbble"></i></a>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                      <!-- Team Member -->
                      <div class="team-member pDark">
                          <!-- Image Hover Block -->
                          <div class="member-img">
                              <!-- Image  -->
                              <img class="img-responsive" src="/img/eduardo.jpg" alt="">
                          </div>
                          <!-- Member Details -->
                          <h4>Eduardo Brasil</h4>
                          <!-- Designation -->
                          <span class="pos">Gestor/Desenvolvedor</span>
                          <div class="team-socials">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-dribbble"></i></a>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                      <!-- Team Member -->
                      <div class="team-member pDark">
                          <!-- Image Hover Block -->
                          <div class="member-img">
                              <!-- Image  -->
                              <img class="img-responsive" src="/img/matheus.jpg" alt="">
                          </div>
                          <!-- Member Details -->
                          <h4>Matheus Mello</h4>
                          <!-- Designation -->
                          <span class="pos">Gestor/Desenvolvedor</span>
                          <div class="team-socials">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-dribbble"></i></a>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                      <!-- Team Member -->
                      <div class="team-member pDark">
                          <!-- Image Hover Block -->
                          <div class="member-img">
                              <!-- Image  -->
                              <img class="img-responsive" src="/img/rudmar.jpg" alt="">
                          </div>
                          <!-- Member Details -->
                          <h4>Rudmar Junior</h4>
                          <!-- Designation -->
                          <span class="pos">Gestor/Desenvolvedor</span>
                          <div class="team-socials">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-dribbble"></i></a>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                      <!-- Team Member -->
                      <div class="team-member pDark">
                          <!-- Image Hover Block -->
                          <div class="member-img">
                              <!-- Image  -->
                              <img class="img-responsive" src="/img/joao.jpeg" alt="">
                          </div>
                          <!-- Member Details -->
                          <h4>João Pedro</h4>
                          <!-- Designation -->
                          <span class="pos">Gestor/Desenvolvedor</span>
                          <div class="team-socials">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-dribbble"></i></a>
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</template>
