<template name="features">
  <div class="container">
    <div class="row">
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/1.png" alt="" />
							</div><!--icon box top -->
							<h4>Controle de Alunos</h4>
							<p>Cadastre seus alunos e tenha todo o controle necessário para melhor gerir sua turma.</p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/2.png" alt="" />
							</div><!--icon box top -->
							<h4>Acesso do Responsável</h4>
							<p>Com o Dezzy você também pode permitir que os pais tenham acesso aos dados dos alunos.</p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/3.png" alt="" />
							</div><!--icon box top -->
							<h4>Relatórios</h4>
							<p>É muito fácil gerar relatórios personalizados e extrair informações importantíssimas.</p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<a href="{{pathFor 'equipe'}}"><img src="/img/4.png" alt="" /></a>
							</div><!--icon box top -->
							<h4>Time</h4>
							<p>Conheça quem está por traz dessa plataforma.</p>
						</div><!--grey box -->
					</div><!--/span3-->
				</div>
    </div>
</template>
