<template name="slides">
  <!-- Header -->
	<header id="head">
		<div class="container">
             <div class="heading-text">
							<h1 class="animated flipInY delay1">Um novo conceito de Gestão Escolar</h1>
							<p>Monitore o progresso e frequência de seus alunos com a gente.</p>
						</div>

					<div class="fluid_container">
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="/img/img1.jpg" data-src="/img/img1.jpg">
                        </div>
                        <div data-thumb="/img/img2.jpg" data-src="/img/img2.jpg">
                        </div>
                        <div data-thumb="/img/img3.jpg" data-src="/img/img3.jpg">
                        </div>
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
		</div>
	</header>
	<!-- /Header -->
</template>
